.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

// justify content
.justify-content-between {
  justify-content: space-between;
}
// align items
.align-items-center {
  align-items: center;
}
